[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
init_connect='SET NAMES utf8mb4'
max_connections=1000
socket=/data/mysql.sock
datadir=/data

#error log
log_error=/var/log/mysql/err.log
#general query log
log_output=FILE
general_log=1
general_log_file=/var/log/mysql/general_query.log
#bin log
log_bin=/var/log/mysql/bin-log
#slow query log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow_query.log

# redolog文件数
innodb_log_files_in_group=4

port=2306

